.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap:10px;
  
 
}
.Header{
  padding:10px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.656);
  /* width: 100%; */
  /* position:sticky; */
  top:0;
}
.Header ul{
  display: flex;
  gap:15px;
  justify-content: space-around;
}
.Header ul li{
  padding:0px 20px;
  list-style: none;
  
}
textarea{
  padding:10px;
  margin:20px;
  background-color: rgba(128, 128, 128, 0.256);
  color:inherit
}

button{
  padding:10px 20px;
  border-radius: 5px;
  color:white;
  background-color: chocolate;
  border:none;
  outline:none;
  margin:5px 10px;
  cursor: pointer;
  text-transform: capitalize;
}
button:hover{
  background-color: gray;
  color:black;
  border:1px solid rgb(92, 90, 90);
}

