.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap:20px;
 
}
.Header{
  padding:10px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}
.Header ul{
  display: flex;
  gap:15px;
  justify-content: space-around;
}
.Header ul li{
  padding:0px 20px;
  list-style: none;
  
}
textarea{
  padding:10px;
}

button{
  padding:5px 20px;
  border-radius: 5px;
  color:white;
  background-color: chocolate;
  border:none;
  outline:none;
  margin:5px 10px;
}

